## Import Data and necessary files

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from time import time
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import classification_report, confusion_matrix, silhouette_score

In [2]:
df = pd.read_csv('hotel_bookings.csv')

## Perform EDA and clean data
1. Fill in the missing values / drop columns that have a very high value of nulls

In [3]:
# drop column company
df = df.drop('company', axis = 1)

In [4]:
# fill in null values with 0 for children column
df['children'] = df['children'].fillna(0).astype(int)

In [5]:
# fill in countries with the highest occuring country in the dataset
df['country'] = df['country'].fillna('PRT')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  int64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: float64(2), int64(17), object(12)
memory usage: 28.2+ MB

In [7]:
df['agent'].nunique()

333

In [8]:
df['agent'].value_counts().head()

agent
9.0      31961
240.0    13922
1.0       7191
14.0      3640
7.0       3539
Name: count, dtype: int64

In [9]:
df[df['agent']==0]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 31 columns]

In [10]:
# since there is no agent '0', lets fill in missing values for agent with value 0
df['agent'] = df['agent'].fillna(0).astype(int)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  int64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  int64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: float64(1), int64(18), object(12)
memory usage: 28.2+ MB

### Feature Engineering
Create new features that define the dataset better => especially for customer segmentation
1. arrival_date : in format arrival_day/arrival_month/arrival_year
2. preferred_day : **weekend** if stays_in_weekend_nights > stays_in_week_nights else **weekday**
3. family_type: function from adults, children and babies
4. had_cancelations: True if count of previous_cancelation > 0 else False
5. room_change: True if reserved_room_type != assigned_room_type else False
6. driving : True if required_car_parking_spaces > 0 else False
7. special_request : True if total_of_special_requests > 0 else False

## Think of how you are going to cluster customer groups from the dataset that you have

### Types of customers => what features of the dataset you may need, IF OR NOT you may need to create new features

In [13]:
# arrival date:
df['arrival_date'] = df['arrival_date_day_of_month'].astype(str) + '/' + df['arrival_date_month'].astype(str) + '/' \
+ df['arrival_date_year'].astype(str)

In [15]:
df['arrival_date'] = pd.to_datetime(df['arrival_date'], format = '%d/%B/%Y')
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,0,0,Transient,0.00,0,0,Check-Out,7/1/2015,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,0,0,Transient,0.00,0,0,Check-Out,7/1/2015,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,0,0,Transient,75.00,0,0,Check-Out,7/2/2015,2015-07-01
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304,0,Transient,75.00,0,0,Check-Out,7/2/2015,2015-07-01
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240,0,Transient,98.00,0,1,Check-Out,7/3/2015,2015-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394,0,Transient,96.14,0,0,Check-Out,9/6/2017,2017-08-30
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9,0,Transient,225.43,0,2,Check-Out,9/7/2017,2017-08-31
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9,0,Transient,157.71,0,4,Check-Out,9/7/2017,2017-08-31
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89,0,Transient,104.40,0,0,Check-Out,9/7/2017,2017-08-31
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9,0,Transient,151.20,0,2,Check-Out,9/7/2017,2017-08-29

In [16]:
df = df.sort_values(by='arrival_date')

In [18]:
#family type => creating a function to be applied to each row of the dataframe
def family_type(row):
    # kids without adults is mostly wrong record
    if row['adults'] <=0 :
        return 'NA'
    elif row['adults'] > 0 and (row['children'] > 0 or row['babies'] > 0):
        return 'Family'
    elif row['adults'] == 2 and (row['children'] == 0 and row['babies'] == 0):
        return 'Couple'
    elif row['adults'] == 1 and (row['children'] == 0 and row['babies'] == 0):
        return 'Single'
    elif row['adults'] > 2 and (row['children'] == 0 and row['babies'] == 0):
        return 'Adult Group'

In [19]:
df['family_type'] = df.apply(family_type, axis=1)

In [20]:
df['family_type'].value_counts()

family_type
Couple         81560
Single         22577
Family          9109
Adult Group     5741
NA               403
Name: count, dtype: int64

In [21]:
#dropping family type that is non applicable
df = df[df['family_type'] != 'NA']

In [22]:
# preferred day
df['preferred_day'] = df.apply(lambda x: 'weekend' if x['stays_in_weekend_nights'] > x['stays_in_week_nights'] else
                              'weekday', axis=1)

In [23]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_date,family_type,preferred_day
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Transient,0.0,0,0,Check-Out,7/1/2015,2015-07-01,Couple,weekday
75559,City Hotel,0,257,2015,July,27,1,0,2,1,...,0,Transient,80.0,0,0,Check-Out,7/3/2015,2015-07-01,Single,weekday
75560,City Hotel,0,257,2015,July,27,1,0,2,2,...,0,Transient,101.5,0,0,Check-Out,7/3/2015,2015-07-01,Couple,weekday
75561,City Hotel,0,257,2015,July,27,1,0,2,2,...,0,Transient,101.5,0,0,Check-Out,7/3/2015,2015-07-01,Couple,weekday
75562,City Hotel,0,257,2015,July,27,1,0,2,2,...,0,Transient,101.5,0,0,Check-Out,7/3/2015,2015-07-01,Couple,weekday

In [24]:
#had cancelations
df['had_cancelations'] = df['previous_cancellations'] > 0

In [25]:
# room change
df['room_change'] = df['reserved_room_type'] != df['assigned_room_type']

In [26]:
# driving
df['driving'] = df['required_car_parking_spaces'] > 0

In [27]:
# special request
df['special_request'] = df['total_of_special_requests'] > 0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118987 entries, 0 to 117424
Data columns (total 38 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118987 non-null  object
 1   is_canceled                     118987 non-null  int64
 2   lead_time                       118987 non-null  int64
 3   arrival_date_year               118987 non-null  int64
 4   arrival_date_month              118987 non-null  object
 5   arrival_date_week_number        118987 non-null  int64
 6   arrival_date_day_of_month       118987 non-null  int64
 7   stays_in_weekend_nights         118987 non-null  int64
 8   stays_in_week_nights            118987 non-null  int64
 9   adults                          118987 non-null  int64
 10  children                        118987 non-null  int64
 11  babies                          118987 non-null  int64
 12  meal                            118987 non-null  object
 13  country                         118987 non-null  object
 14  market_segment                  118987 non-null  object
 15  distribution_channel            118987 non-null  object
 16  is_repeated_guest               118987 non-null  int64
 17  previous_cancellations          118987 non-null  int64
 18  previous_bookings_not_canceled  118987 non-null  int64
 19  reserved_room_type              118987 non-null  object
 20  assigned_room_type              118987 non-null  object
 21  booking_changes                 118987 non-null  int64
 22  deposit_type                    118987 non-null  object
 23  agent                           118987 non-null  int64
 24  days_in_waiting_list            118987 non-null  int64
 25  customer_type                   118987 non-null  object
 26  adr                             118987 non-null  float64
 27  required_car_parking_spaces     118987 non-null  int64
 28  total_of_special_requests       118987 non-null  int64
 29  reservation_status              118987 non-null  object
 30  reservation_status_date         118987 non-null  object
 31  arrival_date                    118987 non-null  datetime64[ns]
 32  family_type                     118987 non-null  object
 33  preferred_day                   118987 non-null  object
 34  had_cancelations                118987 non-null  bool
 35  room_change                     118987 non-null  bool
 36  driving                         118987 non-null  bool
 37  special_request                 118987 non-null  bool
dtypes: bool(4), datetime64[ns](1), float64(1), int64(18), object(14)
memory usage: 32.2+ MB

In [37]:
df['meal'].value_counts()

meal
BB           92020
HB           14454
SC           10546
Undefined     1169
FB             798
Name: count, dtype: int64

## Next steps for customer Persona
1. Select categorical columns and encode it => can use ordinal encoder
2. Select important features manually => qualitative analysis
3. Feature transformation by applying some sort of scaling => can use StandardScaler / MinMaxScaler
4. Apply dimensionality reduction method => PCA
5. Cluster using K-means or Gaussian Mixture models
6. Match this with the customer type

In [29]:
categorical_cols = df.columns[df.dtypes == object]

In [30]:
categorical_cols

Index(['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment',
       'distribution_channel', 'reserved_room_type', 'assigned_room_type',
       'deposit_type', 'customer_type', 'reservation_status',
       'reservation_status_date', 'family_type', 'preferred_day'],
      dtype='object')

In [31]:
data = df.copy(deep = True)
data[categorical_cols]

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date,family_type,preferred_day
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,7/1/2015,Couple,weekday
75559,City Hotel,July,HB,PRT,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,7/3/2015,Single,weekday
75560,City Hotel,July,HB,PRT,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,7/3/2015,Couple,weekday
75561,City Hotel,July,HB,PRT,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,7/3/2015,Couple,weekday
75562,City Hotel,July,HB,PRT,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,7/3/2015,Couple,weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40039,Resort Hotel,August,HB,GBR,Online TA,TA/TO,E,E,No Deposit,Transient,Check-Out,9/7/2017,Couple,weekday
40040,Resort Hotel,August,HB,ITA,Online TA,TA/TO,G,G,No Deposit,Transient,Check-Out,9/7/2017,Family,weekday
13794,Resort Hotel,August,HB,ESP,Online TA,TA/TO,A,A,No Deposit,Transient,Canceled,8/14/2017,Couple,weekday
40038,Resort Hotel,August,HB,GBR,Offline TA/TO,TA/TO,D,D,No Deposit,Contract,Check-Out,9/7/2017,Couple,weekday
117424,City Hotel,August,BB,PRT,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,9/1/2017,Family,weekday

In [33]:
# there are undefined values in market_segment, distribution_channel and meals => drop these rows
to_drop = (data['market_segment'] == 'Undefined') | (data['distribution_channel'] == 'Undefined') | (data['meal'] == 'Undefined')

In [35]:
print(f'Number of data to drop: {len(data[to_drop])}')

Number of data to drop: 1174

In [36]:
data = data[~(to_drop)]
data.shape

(117813, 38)

In [38]:
# Select important features => what are those
data_small = data[['family_type',
                   'hotel',
                   'special_request',
                   'preferred_day',
                   'driving',
                   'room_change',
                   'lead_time',
                   'agent',
                   'had_cancelations',
                   'customer_type',
                   'market_segment',
                   'is_repeated_guest',
                   'adr',
                   'customer_type']]
data_small.head()

,family_type,hotel,special_request,preferred_day,driving,room_change,lead_time,agent,had_cancelations,customer_type,market_segment,is_repeated_guest,adr,customer_type
0,Couple,Resort Hotel,False,weekday,False,False,342,0,False,Transient,Direct,0,0.0,Transient
75559,Single,City Hotel,False,weekday,False,False,257,6,False,Transient,Offline TA/TO,0,80.0,Transient
75560,Couple,City Hotel,False,weekday,False,False,257,6,False,Transient,Offline TA/TO,0,101.5,Transient
75561,Couple,City Hotel,False,weekday,False,False,257,6,False,Transient,Offline TA/TO,0,101.5,Transient
75562,Couple,City Hotel,False,weekday,False,False,257,6,False,Transient,Offline TA/TO,0,101.5,Transient

In [40]:
categorical_cols = data_small.columns[data_small.dtypes == object]

In [41]:
categorical_cols

Index(['family_type', 'hotel', 'preferred_day', 'customer_type',
       'market_segment', 'customer_type'],
      dtype='object')

In [42]:
# Encode the categorical columns
oe = OrdinalEncoder()
data_small[categorical_cols] = oe.fit_transform(data_small[categorical_cols])

/var/folders/l9/swvqvt0552gfk3662mhw83b00000gn/T/ipykernel_61270/3298524208.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_small[categorical_cols] = oe.fit_transform(data_small[categorical_cols])

In [43]:
data_small

,family_type,hotel,special_request,preferred_day,driving,room_change,lead_time,agent,had_cancelations,customer_type,market_segment,is_repeated_guest,adr,customer_type
0,1.0,1.0,False,0.0,False,False,342,0,False,2.0,3.0,0,0.00,2.0
75559,3.0,0.0,False,0.0,False,False,257,6,False,2.0,5.0,0,80.00,2.0
75560,1.0,0.0,False,0.0,False,False,257,6,False,2.0,5.0,0,101.50,2.0
75561,1.0,0.0,False,0.0,False,False,257,6,False,2.0,5.0,0,101.50,2.0
75562,1.0,0.0,False,0.0,False,False,257,6,False,2.0,5.0,0,101.50,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40039,1.0,1.0,True,0.0,False,False,108,241,False,2.0,6.0,0,207.03,2.0
40040,2.0,1.0,True,0.0,True,False,194,240,False,2.0,6.0,0,312.29,2.0
13794,1.0,1.0,True,0.0,False,False,17,240,False,2.0,6.0,0,207.00,2.0
40038,1.0,1.0,False,0.0,False,False,191,40,False,0.0,5.0,0,114.80,0.0
117424,2.0,0.0,True,0.0,False,False,3,0,False,2.0,2.0,1,95.00,2.0

<u>family_type</u>
<br>
family type | ordinal encoder | one hot encoder
family.     |  1.             | 00
couple      |  2              | 01
adult group 
single